@inject LotteryProgram lp
@inject IJSRuntime JsRuntime

<button class="btn btn-primary" @onclick="IncrementCount" disabled="@automated">@buttonText</button>
<button class="btn btn-primary" @onclick="Automate" disabled="@codeKnowledge" hidden="@automated">"Automate"</button>
<button class="btn btn-primary" @onclick="Email" disabled="@legalKnowledge" hidden="@automated">"Email"</button>
<p>So far you have sold @lp.p.soldTickets.Count(t=>t.Player==VendorName).ToString("N0") tickets for this lottery period.</p>

@code {
    [Parameter]  public string VendorName { get; set; }
    private int currentCount = 0;
    private int sellAmount = 1;
    private bool codeKnowledge = true;
    private bool legalKnowledge = true;
    private bool badEnd = true;
    private bool automated = false;

    private string buttonText = "Sell 1";

    private void IncrementCount()
    {
        BuyNTickets(sellAmount);
        currentCount += sellAmount;
        if (currentCount %20 == 0)
        {
            buttonText = "Sell " + (currentCount);
            sellAmount *=2;
        }
        if (currentCount >= 100)
        {
            codeKnowledge = false;
        }
        if (currentCount >= 1000)
        {
            legalKnowledge = false;
        }
        if (currentCount >= 10000)
        {
            buttonText = "Promotion";
            Promote();
        }
    }
    private async void Automate()
    {
        automated = true;
        if (badEnd == true)
        {
            await JsRuntime.InvokeVoidAsync("alert", "You wrote code on company time, the company took your code as per contract and put you out of a job");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "You automated with permission and sold the code for a handy profit");
        }
    }
    private async void Email()
    {
        legalKnowledge = false;
        badEnd = false;
        await JsRuntime.InvokeVoidAsync("alert", "Your boss says it's fine to work on personal coding projects while mindlessly clicking");
    }
    private async void Promote()
    {
        automated = true;
        await JsRuntime.InvokeVoidAsync("alert", "You sold tickets instead of bothering with code and worked your way up to CEO of capitalism");
    }
    private void BuyNTickets(int numToBuy)
    {
        lp.VendorSellingTasks.Add(Task.Run(() => lp.lv.SellQuickTickets(VendorName, numToBuy)));
    }
}
